MySQL username: root 
MySQL password:{{root_password.stdout}}

---For OnlyOffice Installation Wizard--

hostname: localhost
database name: onlyoffice
database username: onlyoffice
database password:{{root_password.stdout}}